<div class="card" style="width: 30rem;">

    <div class="card-body">
        <h5 class="card-title">Qr Result</h5>
        <form>
            <button type="submit" (click)="getQrSales()" class="btn btn-primary">Get Qr For Sale</button>
        </form>

        <br>
        <br>

        <b>QrData : </b>{{qrSales.results.QRdata}}
        <br>
        <br>
        Return Code :{{qrSales.results.returnCode}}
        <br>
        Return Desc : {{qrSales.results.returnDesc}}
        <br>
        <br>
        Errors : {{qrSales.error}}
        <br><br>

    </div>
</div>